[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

argh = "*"
"asn1crypto" = "*"
Babel = "*"
certifi = "*"
cffi = "*"
chardet = "*"
click = "*"
cryptography = "*"
"enum34" = "*"
ExifRead = "*"
Flask = "*"
Flask-BasicAuth = "*"
Flask-SSLify = "*"
idna = "*"
inifile = "*"
ipaddress = "*"
itsdangerous = "*"
"Jinja2" = "*"
Lektor = "*"
MarkupSafe = "*"
mistune = "*"
pathtools = "*"
pycparser = "*"
pyOpenSSL = "*"
pytz = "*"
PyYAML = "*"
requests = "*"
"urllib3" = "*"
watchdog = "*"
Werkzeug = "*"
lektor-github = {path = "./plugins/lektor-github", editable = true}
lektor-basic-auth = {path = "./plugins/lektor-basic-auth", editable = true}
lektor-sessionid = {path = "./plugins/lektor-sessionid", editable = true}


[dev-packages]



[requires]

python_version = "3.6"
