argh==0.26.2
asn1crypto==0.24.0
Babel==2.5.3
certifi==2018.1.18
cffi==1.11.4
chardet==3.0.4
click==6.7
cryptography==2.1.4
ExifRead==2.1.2
Flask==0.12.2
idna==2.6
inifile==0.4
itsdangerous==0.24
Jinja2==2.10
Lektor==3.1
MarkupSafe==1.0
mistune==0.8.3
pathtools==0.1.2
pycparser==2.18
pyOpenSSL==17.5.0
pytz==2017.3
PyYAML==3.12
requests==2.18.4
six==1.11.0
urllib3==1.22
watchdog==0.8.3
Werkzeug==0.14.1
-e lektor-github
