{% extends "layout.html" %}
{% block title %}{{ this.title }}{% endblock %}
{% block body %}

  <section id="history" class="section section-history">
    <div class="container">
      <div class="row">
        {% set post = site.get('/blog').children.first() %}
        <div class="col-sm-4 col-tn-8 col-xs-10 col-tn-offset-2 col-xs-offset-1 col-sm-offset-0 pull-right">
          <div class="history-logo">
            <div class="frame-img">
              {% set thumb = post.attachments.images.first() %}
              <img src="{{ thumb.thumbnail(360)|url }}" alt="TODO">
            </div>
          </div>
        </div>
        <div class="col-sm-7 col-xs-12">
          <div class="section-title title-sty2">
            <h3 class="h3 bor-underline">{{ post.title }}</h3>
          </div>
          <div class="section-content content-italic">
            <p>{{ post.body.html|truncate(500)}}</p>
            <div class="link-detail">
              <a href="#portfolio" class="btn btn-default">Our work</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="section section-map">
    <div class="frame-map">
      {% from "macros/spots.html" import render_spots %}
      {% set spots = site.get('/spots').children.filter(F.pois != []) %}
      {{ render_spots(spots) }}
    </div>
  </section>

{% endblock %}
