.highlighted-text {
    background: rgba(25, 25, 25, .5);
}

.theme-slider .title-header .h2{
    display: inline;
    margin: 0 10px;
}

#map {
    height: 500px;
    width: 100%;
}

p {
    /* original size was 16px */
    font-size: 20px;
}

#footer a {
    color:  #eeeeee;
}
